* {
  color: var(--base05);
}
code [data-line-number]::before {
  content: attr(data-line-number);
  width: 2rem;
  margin-right: 1rem;
}

code [data-line-number] {
  display: block;
  position: relative;
}

pre {
  padding: 1rem;
  line-height: 1.5;
}

.hljs-comment {
  color: var(--base03);
}

.hljs-keyword {
  color: var(--base08);
}

.hljs-string {
  color: var(--base0B);
}

.hljs-function,
.hljs-built_in,
.hljs-method {
  color: var(--base0D);
}

.hljs-number {
  color: var(--base09);
}
