:focus:not(:focus-visible) {
  outline: none;
}

:root {
  font-family: "Lato", sans-serif;
}

@media (prefers-color-scheme: light) {
  /* TODO: base16 for light mode */
  body {
    background: #ffffff;
  }
  /* classic-light: https://github.com/detly/base16-classic-scheme */
  :root {
    --base00: #f5f5f5;
    --base01: #e0e0e0;
    --base02: #d0d0d0;
    --base03: #b0b0b0;
    --base04: #505050;
    --base05: #303030;
    --base06: #202020;
    --base07: #151515;
    --base08: #ac4142;
    --base09: #d28445;
    --base0A: #f4bf75;
    --base0B: #90a959;
    --base0C: #75b5aa;
    --base0D: #6a9fb5;
    --base0E: #aa759f;
    --base0F: #8f5536;
  }
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #fcfcfc;
  }

  /* monkai for dark: https://github.com/chriskempson/base16-vim/blob/master/colors/base16-monokai.vim */
  :root {
    --base00: #272822;
    --base01: #383830;
    --base02: #49483e;
    --base03: #75715e;
    --base04: #a59f85;
    --base05: #f8f8f2;
    --base06: #f5f4f1;
    --base07: #f9f8f5;
    --base08: #f92672;
    --base09: #fd971f;
    --base0A: #f4bf75;
    --base0B: #a6e22e;
    --base0C: #a1efe4;
    --base0D: #66d9ef;
    --base0E: #ae81ff;
    --base0F: #cc6633;
  }
}

/***
 * Colors base00 to base07 are typically variations of a shade and run from darkest to lightest. These colors are used for foreground and background, status bars, line highlighting and such. Colors base08 to base0F are typically individual colors used for types, operators, names and variables. In order to create a dark theme, colors base00 to base07 should span from dark to light. For a light theme, these colours should span from light to dark.
 *
 * base00 - Default Background
 * base01 - Lighter Background (Used for status bars, line number and folding marks)
 * base02 - Selection Background
 * base03 - Comments, Invisibles, Line Highlighting
 * base04 - Dark Foreground (Used for status bars)
 * base05 - Default Foreground, Caret, Delimiters, Operators
 * base06 - Light Foreground (Not often used)
 * base07 - Light Background (Not often used)
 * base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
 * base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
 * base0A - Classes, Markup Bold, Search Text Background
 * base0B - Strings, Inherited Class, Markup Code, Diff Inserted
 * base0C - Support, Regular Expressions, Escape Characters, Markup Quotes
 * base0D - Functions, Methods, Attribute IDs, Headings
 * base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
 * base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
 **/

header.breadcrumbs ul {
  list-style: none;
  display: flex;
}

header.breadcrumbs li {
  padding: 0.5rem;
  flex-flow: row wrap;
  flex: 1;
  max-width: 100px;
}

.breadcrumbs li::after {
  content: "/";
  width: 0.5rem;
  margin-left: 1.5rem;
}

.breadcrumbs li:last-child::after {
  content: "";
}
